.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friends__title {
  font-size: 16px;
  color: var(--text-gray);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: var(--text-gray);
  font-size: 18px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
